@charset "UTF-8";
/**
 * @updated 25.08.12
 */
[debug] * {
    --debug-border:0.1rem;
    --debug-hsl: calc(var(--i,0) * 50) 85% 55%;
    --debug-color: hsl(var(--debug-hsl) / 0.25);

    background-image: 
        repeating-linear-gradient(
            var(--debug-orientation, 45deg),
            hsl(var(--debug-hsl) / 0.45) 0rem                   var(--debug-border),
            hsl(var(--debug-hsl) / 0.10) var(--debug-border)    calc(var(--debug-border) * 3)
        );
    outline:var(--debug-border) dashed hsl(var(--debug-hsl) / 0.80);
    mix-blend-mode: multiply;
}
[debug] *:nth-child(even) { --debug-orientation: -45deg; }
[debug] *:nth-child(1) { --i: 1; }
[debug] *:nth-child(2) { --i: 2; }
[debug] *:nth-child(3) { --i: 3; }
[debug] *:nth-child(4) { --i: 4; }
[debug] *:nth-child(5) { --i: 5; }
[debug] *:nth-child(6) { --i: 6; }
